@tailwind base;
@tailwind components;
@tailwind utilities;
/* Define CSS variables for light mode */
:root {
  --primary: #ffffff; /* Off-white */

  --secondary: #0a0a0a; /* Almost black */

  --main: #ff4326; /* Main Color */
}

/* Define CSS variables for dark mode */
.dark {
  --secondary: #ffffff; /* Off-white */

  --primary: #1e1e1e; /* Almost black */

  --main: #ff4326; /* Main Color */
}
